/* .disable-hover,
.disable-hover * {
  pointer-events: none !important;
} */

input:-moz-placeholder,textarea:-moz-placeholder{color:#fff;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#fff;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#fff;}

input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder{color:transparent;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:transparent;}

body {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
}
h1,
.style1 {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 24px;
	line-height: 1.2;
	color: #333333;
	margin: 35px 0;
	font-weight: normal;
}
h2,
.style2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 21px;
	line-height: 1.2;
	color: #000;
	margin: 0 0 25px;
	font-weight: normal;
}
h3,
.style3 {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000;
	margin: 20px 0;
	font-weight: normal;
}
address {font-size: 12px; line-height: 1.4;}
small {font-size: 14px;}
.text-info {color: #1585b4;}
.text-error {color: #c90000;}
.text-success {color: #2da000;}
.text-warning {color: #db8100;}
.muted {color: #b0b0b0;}
.mutedd {color: #a3a3a3;}

a {text-decoration: underline; color: #2680a5;}
a:hover, a:focus {text-decoration: none;}

.breadcrumb {
	font: 24px 'PT Sans Caption', sans-serif;
	background: none;
	padding: 0;
	margin: 30px 0;
	color: #333333;
}
	.divider {color: #d9d9d9;}
	.breadcrumb a {
		text-decoration: none;
		color: #333333;
	}
		.breadcrumb a:hover {border-bottom: 1px dashed #333333;}
	.breadcrumb .active a {
		border-bottom: 1px dashed #d9d9d9;
		color: #d9d9d9;
	}
		.breadcrumb .active a:hover {
			border-bottom: none;
			text-decoration: none;
		}

#wrapper {
	max-width: 1300px;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
}

/* Header */
.header {
	/*height: 150px;*/
	background: #155881 url(../img/header_bg.jpg) no-repeat center top;
	padding: 33px 20px 0;
	position: relative;
	margin: 0 0 17px;
}
	.logo_wrap {
		color: #fff;
		/* float: left; */
		overflow: hidden;
	}
	.logo {
		float: left;
	}
	.logo_text {
		float: left;
		text-transform: uppercase;
		margin: 0 0 0 26px;
		padding: 5px 0 0 21px;
		line-height: 18px;
		border-left: 1px solid #fff;
	}
	.header_login {
		color: #fff;
		font-family: 'PT Sans', sans-serif;
		font-weight: bold;
		font-size: 11px;
		float: right;
	}
	.header_login .popover-content {font-weight: normal; font-size: 14px;}
	.header_login .popover-content a {color: #2680a5; text-decoration: underline;}
		.header_login ul {
			list-style: none;
			overflow: hidden;
		}
		.header_login li {
			float: left;
			margin-left: 30px;
		}
		.header_login a {
			color: #fff;
			text-decoration: none;
		}
		.header_login a:hover,
		.header_callback a:hover {
			text-decoration: none;
		}
		.header_login a:hover > span,
		.header_callback a:hover > span {
			text-decoration: underline;
		}
		.header_callback {
			font-family: 'PT Sans', sans-serif;
			font-weight: bold;
			font-size: 11px;
			color: #ffd200;
			text-transform: uppercase;
			float: right;
			position: relative;
			/*top: -6px;*/
		}
			.header_callback a {
				color: #ffd200;
				text-transform: uppercase;
				text-decoration: none;
			}
			.header_callback a > i {
				width: 21px;
				height: 21px;
				background: url(../img/ico_callback.png) no-repeat 0 0;
				display: inline-block;
				vertical-align: text-top;
				margin: -1px 10px 0 0;
			}
	.header_search {
		margin: 16px 0 0;
		float: left;
	}
		.form-search {margin: 0; position: relative;}
			.wrap_search_inp {
				overflow: hidden;
				padding-right: 1.5em;
			}
			.header_search input {
				background: rgba(255, 255, 255, 0.3);
				border: 1px solid #467ba2;
				border-radius: 0;
				color: #fff;
				width: 290px;
				height: 24px;
				line-height: 24px;
				padding: 0 5px;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}
			.header_search .btn {
				float: right;
				/*margin-left: 14px;*/
				background: rgba(91, 181, 250, 0.3);
				color: #fff;
				padding: 0;
				width: 72px;
				height: 26px;
				border: 1px solid #467ba2;
				border-radius: 0;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
				.header_search .btn > i {margin: 0;}
		.form-search-em {
			font-size: 10px;
			font-style: italic;
			color: #fff;
		}
	.menu {
		font-family: 'PT Sans Narrow', sans-serif;
		position: relative;
		margin: 32px 0 0;
		/*position: absolute;*/
		/*bottom: 0;
		right: 70px;*/
	}
	.ie8 .menu {overflow: hidden; width: 100%; zoom: 1; position: relative;}
		.menu ul {
			float: right;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.ie8 .menu ul {float: right; width: auto; overflow: hidden; zoom: 1; position: relative;}
			.menu li {
				/* float: left; */
				margin: 0 0 0 -2px;
				display: inline-block;
				vertical-align: bottom;
			}
			.ie8 .menu li {float: left;}
				.menu li a {
					display: block;
					font-size: 18px;
					color: #fff;
					padding: 12px 14px;
					background: rgba(64, 179, 215, 0.5);
					text-decoration: none;
					-webkit-transition: padding .3s ease-out;
					-moz-transition: padding .3s ease-out;
					-ms-transition: padding .3s ease-out;
					-o-transition: padding .3s ease-out;
					transition: padding .3s ease-out;
				}
				.ie8 .menu li a {zoom: 1; position: relative; overflow: hidden;}
				.menu li a.active,
				.menu li a:hover {
					background: #fbb40b url(../img/ico_line.png) no-repeat top right;
					padding: 15px;
					color: #000;
					text-decoration: none;
				}
				.ie8 .menu li a.active,
				.ie8 .menu li a:hover {padding: 12px 14px;}
				.menu li a:hover {background: #ececec url(../img/ico_line.png) no-repeat top right;}
	.menu select {
		border-radius: 0;
		background: rgba(64, 179, 215, 0.5);
		width: 100%;
		border: 0 none;
		color: #FFF;
		margin: 0;
	}
		.menu select option {
			background: rgba(64, 179, 215, 1);
		}
		.menu select option:checked,
		.menu select option:hover {
			background: #fbb40b;
			color: #000;
		}

/* Middle Content */
#middle {
	padding: 0 20px;
	background: #FFF;
}
	.content {}
		.content ul {
			list-style-type: none;
			list-style-position: outside;
			list-style-image: url(../img/ico_ul_list.gif)
		}
			.content li {margin: 10px 0;}
	.content_wrap {}
		.content_wrap .left_sidebar {padding: 0;}
		.content_wrap .content {font-size: 13px;}

/* Left Sidebar */
.left_sidebar,
.right_sidebar {
	padding: 10px 0 0;
}
.menu_sidebar {
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
}
.menu_sidebar ul {list-style: none; margin: 0 0 0 10px;}
.menu_sidebar ul ul {margin: 0 0 10px 15px;}
	.menu_sidebar ul ul a {font-weight: normal;}
	.menu_sidebar a {
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
		padding: 2px 7px;
		margin: 0 0 1px;
		color: #2680a5;
		text-decoration: none;

		border-radius: 3px;
		-webkit-transition: background .3s ease-out;
		-moz-transition: background .3s ease-out;
		-ms-transition: background .3s ease-out;
		-o-transition: background .3s ease-out;
		transition: background .3s ease-out;
	}
		.menu_sidebar a:hover,
		.menu_sidebar a.active {
			background: #2680a5;
			color: #fff;
		}

/* Right Sidebar */
.right_sidebar {}
	.block_graph {margin: 0 0 30px;}
		.block_graph_img {text-align: center;}
		.block_graph p {
			font-size: 12px;
			font-style: italic;
			color: #8d8d8d;
		}
			.block_graph_img img {
				border: 1px solid #fff;
				-webkit-box-shadow: 0px 0px 10px rgba(64, 179, 215, .5);
				-moz-box-shadow: 0px 0px 10px rgba(64, 179, 215, .5);
				box-shadow: 0px 0px 10px rgba(64, 179, 215, .5);
			}

/* Middle Product */
.middle_product {margin: 0 0 20px;}
	.middle_product_item {
		background: #ececec url(../img/bg_product_item.png) no-repeat 100% 0;
		border-bottom: 6px solid #eba600;
	}
	.middle_product_item h3 {
		font-family: 'PT Sans Caption', sans-serif;
		font-size: 24px;
		color: #2680a5;
		margin: 30px 0 12px;
		line-height: 1.2;
	}
	.middle_product_item h3 a {
		font-family: 'PT Sans Caption', sans-serif;
		font-size: 24px;
		color: #2680a5;
		text-decoration: underline;
	}
	.middle_product_item h3 a:hover {
		text-decoration: none;
	}
		.middle_product_img {}
		.middle_product_alt {
			font-size: 14px;
			line-height: 18px;
			color: #a2a2a2;
			min-height: 80px;
			margin: 0 0 6px;
		}
		.middle_product_descr {
			font-size: 10px;
			line-height: 16px;
			color: #333333;
			text-transform: uppercase;
		}
	.middle_product_isset {padding: 0 1em 0 0;}

/* Middle Manufacturers */
.block_manuf {margin: 0 0 20px; position: relative;}
#block_manuf_prev,
#block_manuf_next {
	position: absolute;
	top: 45%;
}

	.block_manuf:after {
		overflow: hidden;
		content: '';
		display: block;
		clear: both;
		height: 0;
		font-size: 0;
	}
	.block_manuf h3 {
		font-family: 'PT Sans Caption', sans-serif;
		font-size: 21px;
	}
	.block_manuf ul {
		list-style: none; 
		padding: 0; margin: 0;
		text-align: center;
	}
		/* .block_manuf ul:after {
			content: ' i i i i i i i i i i i i i i'; 
			word-spacing: 97px; 
			padding-left: 97px;
			visibility: hidden;
			height: 0;
			overflow: hidden;
		} */
			.block_manuf ul li {
				display : inline-block;
				width : 120px;
				height: 70px;
				margin: 0 0 10px;
				text-align: center;
				vertical-align: top;
				//display : inline;
				//zoom : 1;
				//margin-right: 5px;
			}
				.block_manuf ul li > a {float: none;}

/* Middle Block Info */
.block_middle_info {
	font-size: 11px;
}
	.block_middle_info h3 {
		font-family: 'PT Sans Caption', sans-serif;
		font-size: 21px;
		margin: 0 0 20px;
	}
	.block_middle_info_item {line-height: 16px;}
		.block_middle_info_item p {margin: 0 0 15px;}
		.block_middle_info_item .media {margin: 10px 0 0;}
		.block_middle_info_item .media-object {margin: 4px 0 0;}
	.middle_list_sert {
		list-style: none;
		margin: 20px 0 0;
		padding: 0;
	}
		.middle_list_sert li {
			float: left;
			margin: 0 8px 8px 0;
		}
			.middle_list_sert a {
				display: block;
			}
				.middle_list_sert a > img {
					border: 1px solid #e3e3e3;
					-webkit-box-shadow: 0px 2px 4px rgba(227, 227, 227, 1);
					-moz-box-shadow:    0px 2px 4px rgba(227, 227, 227, 1);
					box-shadow:         0px 2px 4px rgba(227, 227, 227, 1);
				}

/* Footer */
.footer {
	background: #797979;
	color: #fff;
	font-size: 11px;
}
	.isset_footer {
		margin: 100px auto 0;
		padding: 25px 20px 15px;
	}
		.footer_menu {
			font-family: 'PT Sans Narrow', sans-serif;
			font-size: 14px;
			margin: 0 0 30px;
		}
			.footer_menu ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
				.footer_menu li {
					float: left;
					margin: 0 16px 0 0;
				}
					.footer_menu a {
						color: #fff;
					}
	.footer_search {}
		.footer_search .form-search {width: 73%;}
			.footer_search input {
				background: #fff;
				border: 1px solid #c0c0c0;
				border-radius: 0;
				color: #737373;
				width: 100%;
				height: 23px;
				line-height: 23px;
				padding: 0 5px;
				font-size: 14px;
			}
			.footer_search input:-moz-placeholder, .footer_search textarea:-moz-placeholder{color:#737373;}
			.footer_search input:-ms-input-placeholder, .footer_search textarea:-ms-input-placeholder{color:#737373;}
			.footer_search input::-webkit-input-placeholder, .footer_search textarea::-webkit-input-placeholder{color:#737373;}
			.footer_search .btn {
				float: right;
				margin-left: 13px;
				color: #fff;
				padding: 0;
				width: 70px;
				height: 25px;
				border: 1px solid #4f4f4f;
				border-radius: 2px;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;

				background: #6c6c6c; /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjNmM2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZDVkNWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  #6c6c6c 0%, #646464 50%, #5d5d5d 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6c6c), color-stop(50%,#646464), color-stop(100%,#5d5d5d)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #6c6c6c 0%,#646464 50%,#5d5d5d 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #6c6c6c 0%,#646464 50%,#5d5d5d 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #6c6c6c 0%,#646464 50%,#5d5d5d 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #6c6c6c 0%,#646464 50%,#5d5d5d 100%); /* W3C */
			}
			.ie9 .footer_search .btn {
		       filter: none;
		    }
				.footer_search .btn > i {
					margin: 0;
				}

/* Table */
.table-scroll {
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}
.table-scroll::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}
.table-scroll::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}

.table-catalog {font-size: 13px;}
	.table-catalog th, .table-catalog td {padding: 5px;}
	.table-catalog th {
		font-size: 11px;
		line-height: 1.2;
		color: #333333;
		vertical-align: top;
	}
	.table-catalog td {vertical-align: bottom;}
	.table-catalog tr td:last-child {vertical-align: middle;}
	/* .table-catalog tr:hover td {background-color: #fff !important;} */
		.table-striped thead>tr>th {border: 0;}
		.table-catalog th > span {font-size: 10px;}
	.table-striped thead>tr:nth-child(odd)>th,
	.table-striped thead>tr>th,
	.table-striped tbody>tr>th {background-color: #fff !important; padding: 4px 2px;}
	.table-striped tbody>tr>td {background-color: #fafafa;}
	.table-striped tbody>tr:nth-child(odd)>td {background-color: #f2f2f2;}
		.table-catalog tbody th input {
			margin: 0;
			width: 100%;
			height: 26px;
			font-size: 12px;
			padding: 2px;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	.table-catalog td .mutedd {font-size: 12px;}
	.table-catalog tbody td input {margin: 5px 0; width: 46px;}
	.del_row {
		width: 18px;
		height: 18px;
		background: url(../img/ico_close.png) no-repeat 0 0;
		display: block;
		padding: 0;
		border: 0;
		cursor: pointer;
	}
	.header_login .popover {color: #333;}

.table thead th {vertical-align: middle; background-color: #f5f5f5;}

/* News Page */
.news_block {}
	.news_item {margin: 0 0 25px;}
		.news_item_img {width: 90px; float: left; margin: 7px 10px 0 0;}
		.news_item_text {overflow: hidden; zoom: 1;}
			.news_item_text .style2 {margin: 0 0 15px; line-height: 1.3;}
				.news_item_text .style2 a {text-decoration: none;}
				.news_item_text .style2 a:hover {text-decoration: underline;}
			.news_item_text p {color: #000; margin: 0 0 5px;}
			.news_item_date {
				font-size: 14px;
				color: #a5a5a5;
				margin: 30px 0 0;
			}
			.news_item .news_item_date {margin: 0;}

.news_releated {margin: 0 0 30px; color: #000; font-size: 14px;}
	.news_releated_item {margin: 0 0 20px;}
		.news_releated_head {margin: 0 0 5px;}
			.news_releated_head a {
				font-size: 14px;
				text-decoration: none;
			}
		.news_releated_item p {font-size: 12px; margin: 0; line-height: 1.4;}
		.news_item_date {font-size: 12px; margin: 5px 0 0;}

/* Slider */
.sert_slider {margin: 0 30px 25px; position: relative; min-height: 158px !important;}
	.sert_slider .caroufredsel_wrapper {margin: 0 auto !important;}
	.sert_slider ul {margin: 0 auto; padding: 0; list-style: none;}
		.sert_slider li {float: left; width: 119px; padding: 0 3px;}
			.sert_slider li img {margin: 0 0 10px;}
			.sert_slider li span {
				display: block;
				font-size: 12px;
				line-height: 1.2;
				font-style: italic;
				color: #8d8d8d;
			}
	.sert_slider_prev,
	.sert_slider_next {
		display: block;
		position: absolute;
		width: 14px;
		height: 28px;
		background: url(../img/ico_slider_btn.png) no-repeat 0 0;
		top: 27%;
		text-indent: -999em;
		overflow: hidden;
	}
	.sert_slider_prev {left: -20px;}
	.sert_slider_next {
		right: -20px;
		background-position: 100% 0
	}

/* Product Page */
.product_pic {margin: 0 0 40px;}
.product_more_pic {}
	.product_more_pic .thumbnail {
		padding: 0;
		border-radius: 0;
		border: 1px solid #5c9fbb;
	}
		.product_more_pic .thumbnails a {font-size: 13px;}
.product_descr {position: relative;}
	.product_add_basket {
		padding: 15px;
		border-radius: 7px;
		border: 1px solid #cacaca;
		float: right;
		margin: 0 0 25px;
	}
		.product_add_basket dl {margin: 0 0 30px !important;}


	.product_descr dl {margin: 0 0 50px;}
		.product_descr dt,
		.product_descr dd {margin-bottom: 15px; line-height: 1.6;}
		.product_descr dt {
			float: left;
			margin-right: 15px;
		}
		.product_descr dd {
			margin-left: 0;
			overflow: hidden;
		}

	.product_files dt {float: none;}
	.product_files ul {margin: 0; padding: 0; list-style: none; list-style-image: none;}
		.product_files li {float: left; margin: 0 50px 5px 0;}

.production_middle {}
	.production_middle .row-fluid .production_middle-sd {width:17.404255319148934%;*width:17.351063829787233%}
	.production_middle .row-fluid .production_middle-content {width:80.46808510638297%;*width:80.41489361702126%}

/* Form */
.form-horizontal textarea {width: 100%;}
.form-horizontal .form-actions {
	background: none;
	border: 0;
}
.form-horizontal .controls .help-block {font-size: 12px; margin: 0;}

.file {
	position: relative;
	padding-left: 50px;
	margin-bottom: 10px;
	background: url(../img/file.gif) 0px 0px no-repeat;
}
.content .media>.pull-left {width: 100px; text-align: center;}
.content .media>.pull-left .media-object {margin: 0 auto;}


.map_descr {
    margin: 30px 0;
}
.map_descr blockquote {
    border-left: 0 none;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px;
    padding-left: 40px;
    position: relative;
}
.map_descr blockquote p {
    font-size: 16px;
    font-weight: 400;
}
.map_descr blockquote:after {
    /*content: "<";*/
    left: 28px;
    position: absolute;
    top: 0;
}
.map_descr_author {
    margin: 0 0 30px;
}
.map_descr_author_pic {
    padding: 3px 0 0;
    text-align: left;
    width: 40px;
    display: none;
}
.map_descr_author_name {
    color: #666666;
    padding-left: 40px;
}
.map_descr_author_review {
    font-size: 12px;
    line-height: 1.2;
    padding: 5px 0 0;
    white-space: nowrap;
}
.map_descr_author_review img {
    float: left;
    margin-right: 5px;
}
.map_descr_author_review a {
    display: inline-block;
    padding-top: 0;
}

.table-noborder,
.table-noborder td {border: 0 none;}
.table-noborder th,
.table-noborder td {padding: 6px 0;}

.nc_vacancies h3 {margin: 20px 0 5px;}

.nc_search_prev  { margin: 0 10px; }
.nc_search_nav { margin-bottom: 10px; }