@media(min-width:1200px){
	.production_middle .row-fluid .production_middle-sd {width: 17.076923076923077%;*width:17.023731587561375%}
	.production_middle .row-fluid .production_middle-content {width:80.35897435897436%;*width:80.30578286961266%}
}

@media screen and (max-width: 1260px) {
	.middle_product_alt {min-height: 0;}
}

@media screen and (max-width: 1200px) {
	.middle_product_item h3 {margin: 5px 0 12px;}
}

@media screen and (max-width: 1100px) {
	.header_callback {top: 0;}
	.logo_text {font-size: 12px;}
	.product_add_basket {float: none;}
}

@media screen and (max-width: 1050px) {
	.header_login {margin: 15px 0 0;}
}

@media screen and (max-width: 980px) {
	.header {padding: 5px 62px 0;}
	.logo_wrap {float: none; overflow: hidden;}
	.header_callback {float: none; margin: 20px 0 15px;}
	.header_search {margin: 10px 0;}
	.header_login {float: none;}
	.header_login ul {margin: 0 0 10px;}
	.header_login li {margin: 0 30px 0 0;}
}

@media (max-width: 979px) and (min-width: 768px) {
	.production_middle .row-fluid .production_middle-sd {width:16.92817679558011%;*width:16.87498530621841%}
	.production_middle .row-fluid .production_middle-content {width:80.30939226519337%;*width:80.25620077583166%}
}

@media screen and (max-width: 850px) {
	.menu li {margin: 0 0 5px -2px;}
}

@media screen and (max-width: 780px) {
	.logo {float: none;}
	.logo_text {float: none; margin: 5px 0 0; border: 0 none; padding: 0; font-size: 10px;}
	.menu_sidebar li {float: left; margin: 0 1px 0 0;}
}

@media (max-width:767px) {
	body {padding: 0;}
	.header {padding: 5px 20px 0;}
	#middle {padding: 0 20px;}
	.isset_footer {padding: 25px 20px 15px;}
	.middle_product_item {margin-bottom: 5px;}
	#middle .middle_product_item > div {margin: 10px; width: auto;}
	.footer_search .form-search {width: 100%;}
	.input-file {width: 100%;}
	#block_manuf_prev {left: -12px;}
	#block_manuf_next {right: -12px;}
}

@media screen and (max-width: 575px) {
	.header_search {float: none;}
	.header_search,
	.header_search input {width: 100%;}
	.menu {margin: 15px 0 5px;}
}

@media screen and (max-width: 500px) {
	.menu ul {display: none;}
}

@media screen and (min-width: 500px) {
	.menu select {display: none;}
}

@media (max-width:400px) {
	body {padding: 0;}
	.header {padding: 5px 10px 0;}
	#middle {padding: 0 10px;}
}