meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title Welcom Perm
meta(name="description", content="")
meta(name="keywords", content="")

// Mobile Specific Metas
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="HandheldFriendly" content="true")

// Favicons

// Fonts

// CSS
link(href='./css/style.css', type="text/css", rel="stylesheet")

script(src="//yandex.st/modernizr/2.6.2/modernizr.min.js")