// from http://nicolasgallagher.com/micro-clearfix-hack/
clearfix()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

helvetica()
	font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
	font-weight 300

min-height(n)
	min-height n
	height auto !important
	height n

/* text-decoration none, hover text-decoration underline */
reverse-link-decoration() {
	a {
		text-decoration: none;
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
}

/* generates the essential "before" and "after" code for pseudo-arrows */
generate-arrow(arrow-width = 10px) {
	&:before, &:after {
		content: ' ';
		height: 0;
		position: absolute;
		width: 0;
		border: arrow-width solid transparent;
	}
}

/* sets an input tag's placeholder styles */
set-placeholder-style(size, value) {
	&::-webkit-input-placeholder {
		color: value;
		font-size: size;
	}
	&::-moz-placeholder {
		color: value;
		font-size: size;
	}
}