$font = 'proxima_nova_ltlight', sans-serif;
$font-roboto = 'Roboto', sans-serif;

$font-size = 20px;
$line-height = 1.4;
$color = #3b3b3b;

$background = pink;

$color-link = #f93f30;

$h1-font-size = 30px;
$h1-line-height = 1.2;

$h2-font-size = 30px;
$h2-line-height = 1.2;

$h3-font-size = 16px;
$h3-line-height = 1.2;

$h4-font-size = 18px;
$h4-line-height = 1.4;

$h5-font-size = 14px;
$h5-line-height = 1.2;

$h6-font-size = 12px;
$h6-line-height = 1.2;