build/
public/
node_modules/*
_out/*
out
public_html/*
public
public/*
temp/
design/*
node_modules
.nodemonignore
.DS_Store
*.sublime-project
*.sublime-workspace
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.travis*

env.coffee
.env
