.container.header
	.row
		.col-xs-4.col-sm-4.col-md-4.col-lg-4
			.logo
				a(href="/", target="_self")
					img.img-responsive.npofopr(src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image", alt="")

		.col-xs-2.col-xs-offset-1.col-sm-2.col-sm-offset-1.col-md-2.col-md-offset-1.col-lg-2.col-lg-offset-1
			p
				| +7 (342) 236-30-00-00<br>
				| +7 (342) 236-15-55<br>
				a(href="#666", target="_self") перезвоните мне

		.col-xs-3.col-sm-3.col-md-3.col-lg-3
			p ул. Ленина, 60. Колизей Атриум, 2 этаж
			p ул. Куйбышева 88

		.col-xs-2.col-sm-2.col-md-2.col-lg-2
			p
				a(href="#666", target="_blank") Языковой центр
			p
				a(href="#666", target="_blank") Новости и события
			p
				a(href="#666", target="_blank") Календарь событий

.container
	.main_menu
		ul
			li.main_menu-drop
				a ЯЗЫКОВЫЕ КУРСЫ
			li 
				a Обучение за рубежом
			li
				a Экзамены PTE
			li 
				a Переводы
			li 
				a Контакты
			li.main_menu-signup
				a Записаться
