@import 'blocks/global.styl'
@import 'blocks/header.styl'
@import 'blocks/footer.styl'

.npofopr
	display: inline-block
	vertical-align: top
	zoom: 1 /* Fix for IE7 */
	*display: inline /* Fix for IE7 */
	border: 1px solid #f00

