/* can consume `node_modules`, `web_modules` or local modules
@import "cssrecipes-defaults"; /* == @import "./node_modules/cssrecipes-defaults/index.css"; */
@import "_variable.css";
/*@import "_variable.css" (min-width: 25em);*/

$colorfore: #333;
$colorback: #fff;
$blue: #056ef0;
$column: 200px;
$npofopr_text: yellow;

@define-mixin reset {
	padding: 0;
	margin: 0;
}

.npofopr {
	color: $npofopr_text;
	background: red;
	box-shadow: 1px 1px 1px red;
	opacity: .5;
	text-shadow: 0 1px 1px black;
}

main {
	font-family: Arial;
	@mixin reset;
	color: $colorfore;
	background-color: $colorback;

	article {
		color: $colorback;
		background-color: $colorfore;
		&:hover {
			color: red;
		}
	}
}

.menu {
	width: calc(4 * $column);
}
.menu_link {
	background: $blue;
	width: $column;
}

.phone {
	&_title {
		color: red;
		@media (max-width: 500px) {
			width: auto;
		}
		body.is_dark & {
			color: white;
		}
	}
	img {
		display: block;
	}
}

.button:hover {
	background: red;
}

@media screen and (width >= 500px) and (width <= 1200px) {
	.bar {
		display: block;
	}
}

.logo {
	background: red url('../images/logo.png') no-repeat 0 0 at-2x;
}

h1 {
	margin: 0 auto;
	margin: 0 auto;
	font-weight: normal;
}

h2 {}
{
	color: blue;
}

a {
	color: blue;
}
a {
	font-weight: bold;
}
a {
	color: blue;
	font-weight: bold;
}
p {
	color: blue;
	font-weight: bold;
}

.foo::before {
	content: "foo on small";
}

@media screen and (min-width: 769px) {
	.foo::before {
		content: "foo on medium";
	}
}

.bar::before {
	content: "bar on small";
}

@media screen and (min-width: 769px) {
	.bar::before {
		content: "bar on medium";
	}
}



@custom-media --small-viewport (max-width: 30em);

@media (--small-viewport) {
	.npofopr_test_custom_media {
		width: 10px;
		height: @width;
	}
}


.icon {
    background: url(images/sun-is-shining.svg) no-repeat;
    background-size: 20px 20px; /* background-size is mandatory */
}


.foo { flex: 1; }


.postcss-font-variant {
	font-variant-caps: small-caps;
}
.postcss-font-variant table {
	font-variant-numeric: lining-nums;
}
